<!DOCTYPE html>
<html>
<head>

<title>Hibernate Assessment</title>
</head>
<body>
	<form action="/OnlineAssessment/submitassessment" method="post">
	<h1>Hibernate Assessment</h1>
	<br>
	<input type="hidden" name="assessmentName" value="Spring Assessment" />
		<div style="background-color: cyan; width: 40%; align: center;">
			<label>Question 1: What is the full form of ORM?</label> 
			<br> 
			<input type="radio"
				id="Q1-Opt1" name="Question1" 
value="Object Random Memory"
/> <label
				for="Q1-Opt1" > Object Random Memory</label><br> 
				
				<input type="radio"
				id="Q1-Opt2" name="Question1" 
value="Object Relational Mismatch"
/>
			<label for="Q1-Opt2">Object Relational Mismatch</label><br>
			<input type="radio" id="Q1-Opt3" name="Question1" 
value="Object Relational Mapping"

>
  <label for="Q1-Opt3">Object Relational Mapping</label>
		<br> 	
			 
			
			<input type="radio" id="Q1-Opt4" name="Question1" 
value="Object Random Mapping"
> <label for="Q1-Opt4">Object Random Mapping"</label>
<br> 
			<label>Question 2: In Hibernate, based on directionality, what could be the mappings?</label> 
			<br> 
			<input
				type="radio" id="Q2-Opt1" name="Question2"
				value="Inversion Of Control"> <label for="Q2-Opt1">Inversion
				Of Control</label><br> <input type="radio" id="Q2-Opt2"
				name="Question2" value="Interjection of Control"> <label
				for="Q2-Opt2">Interjection of Control</label><br> <input
				type="radio" id="Q2-Opt3" name="Question2"
				value="Internal Object Control"> <label for="Q2-Opt3">Internal
				Object Control</label> 
				<br> 
				<input type="radio" id="Q2-Opt4" name="Question2"
				value="In-built Object Control"> <label for="Q2-Opt4">In-built
				Object Control</label> 
				
				<br> 
				<label>Question 3: What is the full form of
				AOP?</label> 
				<br> 
				<input type="radio" id="Q3-Opt1" name="Question3"
				value="Anticipation of Properties"> <label for="Q3-Opt1">Anticipation
				of Properties</label><br> <input type="radio" id="Q3-Opt2"
				name="Question3" value="Aspect Oriented Programming"> <label
				for="Q3-Opt2">Aspect Oriented Programming</label><br> <input
				type="radio" id="Q3-Opt3" name="Question3"
				value="Associated Object Programming"> <label for="Q3-Opt3">Associated
				Object Programming</label> 
				<br> 
				<input type="radio" id="Q3-Opt4" name="Question3"
				value="Anti Object Programming"> <label for="Q3-Opt4">Anti
				Object Programming</label>
				<br> 
				 <label>Question 4: Which of the below is
				a spring container?</label>
				
				<br> 
				 <input type="radio" id="Q4-Opt1"
				name="Question4" value="View Resolver"> <label for="Q4-Opt1">View
				Resolver</label><br> <input type="radio" id="Q4-Opt2" name="Question4"
				value="Application Context"> <label for="Q4-Opt2">Application
				Context</label><br> <input type="radio" id="Q4-Opt3" name="Question4"
				value="Handler Mapping"> <label for="Q4-Opt3">Handler
				Mapping</label> 
				<br> 
				<input type="radio" id="Q4-Opt4" name="Question4"
				value="Dispatcher Servlet"> <label for="Q4-Opt4">Dispatcher
				Servlet</label> 
				
				<br> 
				<label>Question 5: Which is Spring's front
				Controller Implementation?</label>
				
				<br> 
				 <input type="radio" id="Q5-Opt1"
				name="Question5" value="Bean Factory"> 
<label for="Q5-Opt1">Bean
			Factor</label><br> <input type="radio" id="Q5-Opt2" name="Question5"
				value="Class Path Application Context"> <label for="Q5-Opt2">Class
				Path Application Context</label><br> <input type="radio" id="Q5-Opt3"
				name="Question5" value="Application Context"> <label
				for="Q5-Opt3">Application Context</label> 
				<br> 
				<input type="radio"
				id="Q5-Opt4" name="Question5" value="Dispatcher Servlet"> <label
				for="Q5-Opt4">Dispatcher Servlet</label>
				
				<br> 
				 <input type="submit" id="
				submitspring"  value="submit Test" />




		</div>
	</form>

</body>
</html>