<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Online Assessment-Home Page</title>
</head>
<body>
<form action="/OnlineAssessment/login" method="post">

<div style="background-color: cyan;width:40%;align:center;">
<h1>Welcome to Online Assessments</h1>
<br/>
<h2>Login</h2>
<table>
<tr>
<td>
<label>Email ID</label>
</td>

<td>
<input id="email" type="email" name="email" required/>
</td>
</tr>

<tr>
<td>
<label>Password</label>
</td>

<td>
<input id="password" type="password" name="password" required/>
</td>
</tr>
<tr>
<td>
<input type="submit" value="LOGIN" id="login"/>
</td>
</tr>
<tr>
<td>
<label>New User ?</label>
</td>

<td>
<a href="/OnlineAssessment/newUser">register here</a>
</td>
</tr>

</table>

</div>
</form>

</body>
</html>